#chat-message-container {
  height: 40vh !important;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#chat-contacts-container {
  height: 45vh !important;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#chat-input-container {
  height: 20vh !important;
}

#chat-message-container::-webkit-scrollbar {
  display: none;
}
#chat-contacts-container::-webkit-scrollbar {
  display: none;
}
