.custom-password-eye {
  border: none !important;
  font-size: 35px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-password-container {
  border: 1px solid #ced4da !important;
  display: flex;
  background-color: #eeeeee !important;
  padding: 0;
}

.custom-password-label {
  padding: 0 !important;
}
