@import "./registerAuction.scss";
:root {
  --white: #ffffff;
  --orange: #ffa31a;
  --light-grey: #eeeeee;
  --grey: #8d8d8d;
  --dark-grey: #707070;
}

.main-content {
  min-height: calc(100vh - 180px);
}

.tradeHub-orange {
  color: var(--orange);
}

.tradeHub-white {
  color: var(--white);
}

.tradeHub-light-grey {
  color: var(--light-grey);
}

.tradeHub-grey {
  color: var(--grey) !important;
}

.tradeHub-dark-grey {
  color: var(--dark-grey);
}

.tradeHub-button {
  border: none !important;
  background-color: var(--orange) !important;
}

.btn {
  border-radius: 0 !important;
}

.authentication-modals {
  .form-control {
    height: calc(1.5em + 2rem + 2px);
  }
  .btn {
    padding: 1.1em !important;
  }
}

.tradeHub-icon {
  color: var(--dark-grey) !important;
}

.tradeHub-icon :hover {
  color: var(--grey) !important;
  cursor: pointer;
}

.tradeHub-input {
  border-radius: 0 !important;
  border-color: var(--light-grey);
}

.light-grey-background {
  background-color: var(--light-grey) !important;
}

.orange-background {
  background-color: var(--orange) !important;
  border-radius: 10px;
  border-color: var(--orange) !important;
  padding: 0 7px;
}

.click-text :hover {
  cursor: pointer;
  color: #ffa31a !important;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold !important;
}

#bubble-position {
  position: absolute;
  right: 30px;
  top: 20px;
}

#hamburger-position {
  position: absolute;
  right: 20px;
  top: 19px;
}

footer {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: var(--header);
  color: var(--light-text);
  font-family: "Segoe UI", Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 10px;
}

hr {
  width: 90%;
  .login-button {
    cursor: pointer;
  }

  .register-text {
    font-size: 12px;
  }

  // STYLING FOR IPAD & DESKTOP
  @media screen and (min-width: 770px) {
    #bubble-position {
      position: absolute;
      right: 15px;
      top: 20px;
    }

    #hamburger-position {
      display: none !important;
    }
  }
}
