@import "./registerAuction.scss";
@import "./auctionDetailsPage";
@import "./passwordField.scss";

:root {
  --white: #ffffff;
  --orange: orange;
  --light-grey: #eeeeee;
  --mid-light-grey: #dadada;
  --grey: #8d8d8d;
  --dark-grey: #707070;
  --red: #ff131a;
}

.main-content {
  min-height: calc(100vh - 180px);
}

.tradeHub-orange {
  color: var(--orange);
}

.tradeHub-white {
  color: var(--white);
}

.tradeHub-light-grey {
  color: var(--light-grey);
}

.tradeHub-grey {
  color: var(--grey) !important;
}

.tradeHub-dark-grey {
  color: var(--dark-grey);
}

.tradeHub-button {
  border: none !important;
  background-color: var(--orange) !important;
}

.tradeHub-cardImg {
  width: 100%;
  height: 30vh;
}
.tradeHub-card {
  height: 60vh;
  color: var(--orange);
}

.tradeHub-cardBody {
  height: 10vh;
}

.btn {
  border-radius: 0 !important;
}

.borderRadius {
  border-radius: 8px;
}

.authentication-modals {
  .form-control {
    height: calc(1.5em + 2rem + 2px);
  }
  .btn {
    padding: 1.1em !important;
  }
}

.tradeHub-icon {
  color: var(--dark-grey) !important;
}

.tradeHub-icon :hover {
  color: var(--grey) !important;
  cursor: pointer;
}

.tradeHub-input {
  border-radius: 0 !important;
  border-color: var(--light-grey);
}

.light-grey-background {
  background-color: var(--light-grey) !important;
}
.grey-background {
  background-color: var(--grey) !important;
}

.orange-background {
  background-color: var(--orange) !important;
  border-color: var(--orange) !important;
  padding: 0 7px;
}

.orange-border {
  border: 1px solid var(--orange);
}

.click-text :hover {
  cursor: pointer;
  color: var(--orange) !important;
}

.pointer {
  cursor: pointer;
}

.error-text {
  padding: 1.1em !important;
  background-color: var(--red) !important;
  color: var(--white);
}

.bold {
  font-weight: bold !important;
}
.addIcon {
  line-height: 0px;
  font-size: 20px !important;
}

.pointer {
  cursor: pointer;
}

#bubble-position {
  position: absolute;
  right: 30px;
  top: 20px;
}

#hamburger-position {
  position: absolute;
  right: 20px;
  top: 19px;
}

.login-button {
  cursor: pointer;
}

.register-text {
  font-size: 12px;
}

.carousel {
  max-width: 100%;
  height: 400px;
  background: var(--grey);
}

.searchbar {
  padding: 12px;
  font-style: italic !important;
  color: var(--orange);
}

.form-control:focus {
  border-color: var(--orange) !important;
  box-shadow: none !important;
}

footer {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: var(--header);
  color: var(--light-text);
  font-family: "Segoe UI", Helvetica, sans-serif;
  font-style: italic;
  text-align: center;
  font-size: 10px;
}

hr {
  width: 90%;
}

.noBorder {
  border: none !important;
}

.contact {
  border-radius: 4px !important;
}

.contact:hover {
  background-color: var(--mid-light-grey) !important;
  cursor: pointer;
}

// STYLING FOR IPAD & DESKTOP
@media screen and (min-width: 770px) {
  #bubble-position {
    position: absolute;
    right: 15px;
    top: 20px;
  }

  #hamburger-position {
    display: none !important;
  }
}

@media screen and(max-width: 450px) {
  .modal-dialog {
    width: 90% !important;
  }
}

.navbar-toggler-icon {
  color: var(--dark-grey) !important;
}

#loader {
  position: absolute;
  margin: auto;
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid var(--orange);
  width: 12rem;
  height: 12rem;
  animation: spin 1s linear infinite;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#no-matches-found {
  position: absolute;
  margin: auto;
  height: 12rem;
  text-align: center;
  font-size: 25px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none !important;
}
